.show-flat-name-container {
  background-color: #ededed;
  display: inline-block;
  position: absolute;
  top: -70px;
  width: 600px;
  padding: 32px;
  border-radius: 8px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.flat-description {
  background-color: #ededed;
  display: inline-block;
  position: absolute;
  top: 80px;
  width: 600px;
  padding: 32px;
  border-radius: 8px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.flat-details {
  background-color: #ededed;
  display: inline-block;
  position: absolute;
  top: 230px;
  width: 600px;
  padding: 32px;
  border-radius: 8px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.booking-form {
  background-color: #ededed;
  display: inline-block;
  position: absolute;
  top: -70px;
  padding: 32px;
  border-radius: 8px;

}
